<!--
  ~ Copyright (C) 2023 StApps
  ~ This program is free software: you can redistribute it and/or modify it
  ~ under the terms of the GNU General Public License as published by the Free
  ~ Software Foundation, version 3.
  ~
  ~ This program is distributed in the hope that it will be useful, but WITHOUT
  ~ ANY WARRANTY; without even the implied warranty of MERCHANTABILITY or
  ~ FITNESS FOR A PARTICULAR PURPOSE. See the GNU General Public License for
  ~ more details.
  ~
  ~ You should have received a copy of the GNU General Public License along with
  ~ this program. If not, see <https://www.gnu.org/licenses/>.
  -->

<ion-header>
  <ion-toolbar color="primary" mode="ios">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/about"></ion-back-button>
    </ion-buttons>
    <ion-title>{{ 'about.CHANGELOG' | translate }}</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content parallax>
  <ion-button fill="clear" [routerLink]="['/about', 'stapps-changelog']"
    >{{ 'about.TECHNICAL_CHANGELOG' | translate
    }}<ion-icon slot="end" name="arrow_forward" ios="arrow_forward_ios"></ion-icon
  ></ion-button>
  @for (version of config.config.app.versionHistory; track version) {
    <markdown class="release-notes" [data]="'releaseNotes' | translateSimple: version"></markdown>
  }
</ion-content>
