/*!
 * Copyright (C) 2021 StApps
 * This program is free software: you can redistribute it and/or modify it
 * under the terms of the GNU General Public License as published by the Free
 * Software Foundation, version 3.
 *
 * This program is distributed in the hope that it will be useful, but WITHOUT
 * ANY WARRANTY; without even the implied warranty of MERCHANTABILITY or
 * FITNESS FOR A PARTICULAR PURPOSE. See the GNU General Public License for
 * more details.
 *
 * You should have received a copy of the GNU General Public License along with
 * this program. If not, see <https://www.gnu.org/licenses/>.
 */

ion-toggle {
  width: fit-content;
  padding-inline: var(--spacing-md);
  color: var(--ion-color-primary-contrast);
}

.disclaimer {
  margin-block: var(--spacing-xs);
  color: var(--ion-color-primary-contrast);
}
