/*!
 * Copyright (C) 2021 StApps
 * This program is free software: you can redistribute it and/or modify it
 * under the terms of the GNU General Public License as published by the Free
 * Software Foundation, version 3.
 *
 * This program is distributed in the hope that it will be useful, but WITHOUT
 * ANY WARRANTY; without even the implied warranty of MERCHANTABILITY or
 * FITNESS FOR A PARTICULAR PURPOSE. See the GNU General Public License for
 * more details.
 *
 * You should have received a copy of the GNU General Public License along with
 * this program. If not, see <https://www.gnu.org/licenses/>.
 */
@import '../../../theme/util/mixins';

ion-button {
  --color: var(--ion-color-primary-contrast);

  width: fit-content;
  margin-block: 0;
}

.release-notes {
  @include border-radius-in-parallax(var(--border-radius-default));

  display: block;
  margin: var(--spacing-md);
  margin-block-start: 0;
  background: var(--ion-item-background);
}
