<!--
  ~ Copyright (C) 2021 StApps
  ~ This program is free software: you can redistribute it and/or modify it
  ~ under the terms of the GNU General Public License as published by the Free
  ~ Software Foundation, version 3.
  ~
  ~ This program is distributed in the hope that it will be useful, but WITHOUT
  ~ ANY WARRANTY; without even the implied warranty of MERCHANTABILITY or
  ~ FITNESS FOR A PARTICULAR PURPOSE. See the GNU General Public License for
  ~ more details.
  ~
  ~ You should have received a copy of the GNU General Public License along with
  ~ this program. If not, see <https://www.gnu.org/licenses/>.
  -->
<ion-card-header>
  <ion-card-title>
    <ion-label>{{ license.licenses }}</ion-label>
  </ion-card-title>
  <ion-button fill="clear" (click)="dismissAction()">
    <ion-label>{{ 'modal.DISMISS' | translate }}</ion-label>
  </ion-button>
</ion-card-header>

<ion-card-content>
  <ion-content>
    <ion-list>
      <pre>{{ license.licenseText }}</pre>
    </ion-list>
  </ion-content>
</ion-card-content>
