@import '../../../theme/util/mixins';

ion-title {
  padding-block: var(--spacing-md);
}

.content-card {
  @include border-radius-in-parallax(var(--border-radius-default));

  display: block;
  margin: var(--spacing-md);
  margin-block-start: 0;
  background: var(--ion-item-background);
}
