.release-notes {
  max-width: 16cm;
}

.release-notes ::ng-deep {
  h1 {
    font-size: 1.5em;
    font-weight: bold;
    color: var(--ion-color-primary);
  }

  h2 {
    font-size: 1.2em;
    font-weight: bold;
  }

  h3 {
    font-size: 1.1em;
    font-weight: bold;
  }

  blockquote {
    background: var(--ion-item-background);
    border-left: 0.25em solid var(--ion-color-medium);
  }
}
