<ion-header>
  <ion-toolbar>
    <ion-title
      ><span class="ion-text-wrap">{{ 'releaseNotes.TITLE_UPDATED' | translate }}</span></ion-title
    >
    <ion-buttons slot="end">
      <ion-button [strong]="true" (click)="modalController.dismiss()">{{
        'modal.DISMISS_NEUTRAL' | translate
      }}</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content parallax>
  @for (versionInfo of versionInfos; track versionInfo) {
    <markdown
      class="content-card ion-padding release-notes"
      [data]="'releaseNotes' | translateSimple: versionInfo"
    ></markdown>
  }
</ion-content>
