<!--
  ~ Copyright (C) 2022 StApps
  ~  This program is free software: you can redistribute it and/or modify it
  ~  under the terms of the GNU General Public License as published by the Free
  ~  Software Foundation, version 3.
  ~
  ~  This program is distributed in the hope that it will be useful, but WITHOUT
  ~  ANY WARRANTY; without even the implied warranty of MERCHANTABILITY or
  ~  FITNESS FOR A PARTICULAR PURPOSE. See the GNU General Public License for
  ~  more details.
  ~
  ~  You should have received a copy of the GNU General Public License along with
  ~  this program. If not, see <https://www.gnu.org/licenses/>.
  -->

<ion-chip class="chip-class" (click)="$event.stopPropagation(); onClick()">
  <ion-icon name="pin_drop"></ion-icon>
  <ion-label>{{ 'Locate' | translate }}</ion-label>
  <ng-template #loading>
    <ion-skeleton-text animated="true"></ion-skeleton-text>
  </ng-template>
</ion-chip>
