<!--
~ Copyright (C) 2023 StApps
~ This program is free software: you can redistribute it and/or modify it
~ under the terms of the GNU General Public License as published by the Free
~ Software Foundation, version 3.
~
~ This program is distributed in the hope that it will be useful, but WITHOUT
~ ANY WARRANTY; without even the implied warranty of MERCHANTABILITY or
~ FITNESS FOR A PARTICULAR PURPOSE. See the GNU General Public License for
~ more details.
~
~ You should have received a copy of the GNU General Public License along with
~ this program. If not, see <https://www.gnu.org/licenses/>.
-->

<ion-label class="title">{{ 'name' | thingTranslate: item }}</ion-label>
<p class="title-sub">
  @for (author of item.authors; track author) {
    {{ 'name' | thingTranslate: author }}
  }
  @if (item.authors && item.authors && item.firstPublished) {
    ,&nbsp;
  }
  @if (item.firstPublished && !item.lastPublished) {
    {{ item.firstPublished }}
  } @else {
    @if (item.firstPublished && item.lastPublished) {
      {{ [item.firstPublished, item.lastPublished] | join: ' - ' }}
    }
  }
</p>
<ion-note> {{ 'categories' | thingTranslate: item }} </ion-note>
