<!--
~ Copyright (C) 2022 StApps
~ This program is free software: you can redistribute it and/or modify it
~ under the terms of the GNU General Public License as published by the Free
~ Software Foundation, version 3.
~
~ This program is distributed in the hope that it will be useful, but WITHOUT
~ ANY WARRANTY; without even the implied warranty of MERCHANTABILITY or
~ FITNESS FOR A PARTICULAR PURPOSE. See the GNU General Public License for
~ more details.
~
~ You should have received a copy of the GNU General Public License along with
~ this program. If not, see <https://www.gnu.org/licenses/>.
-->

<ion-card>
  <ion-card-header>{{ 'data.detail.address.TITLE' | translate | titlecase }}</ion-card-header>
  <ion-card-content>
    <ion-grid>
      <ion-row>
        <ion-col>{{ 'data.detail.address.STREET' | translate | titlecase }}:</ion-col>
        <ion-col width-60 text-right> {{ address.streetAddress }} </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>{{ 'data.detail.address.POSTCODE' | translate | titlecase }}:</ion-col>
        <ion-col width-60 text-right> {{ address.postalCode }} </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>{{ 'data.detail.address.CITY' | translate | titlecase }}:</ion-col>
        <ion-col width-60 text-right> {{ address.addressLocality }} </ion-col>
      </ion-row>
      @if (address.addressRegion) {
        <ion-row>
          <ion-col>{{ 'data.detail.address.REGION' | translate | titlecase }}:</ion-col>
          <ion-col width-60 text-right> {{ address.addressRegion }} </ion-col>
        </ion-row>
      }
      <ion-row>
        <ion-col>{{ 'data.detail.address.COUNTRY' | translate | titlecase }}:</ion-col>
        <ion-col width-60 text-right> {{ address.addressCountry }} </ion-col>
      </ion-row>
      @if (address.postOfficeBoxNumber) {
        <ion-row>
          <ion-col>{{ 'data.detail.address.POST_OFFICE_BOX' | translate | titlecase }}</ion-col>
          <ion-col width-60 text-right> {{ address.postOfficeBoxNumber }} </ion-col>
        </ion-row>
      }
    </ion-grid>
  </ion-card-content>
</ion-card>
