/*!
 * Copyright (C) 2023 StApps
 * This program is free software: you can redistribute it and/or modify it
 * under the terms of the GNU General Public License as published by the Free
 * Software Foundation, version 3.
 *
 * This program is distributed in the hope that it will be useful, but WITHOUT
 * ANY WARRANTY; without even the implied warranty of MERCHANTABILITY or
 * FITNESS FOR A PARTICULAR PURPOSE. See the GNU General Public License for
 * more details.
 *
 * You should have received a copy of the GNU General Public License along with
 * this program. If not, see <https://www.gnu.org/licenses/>.
 */

.certification-list {
  container-type: inline-size;
  width: 100%;
  height: fit-content;
}

img {
  cursor: pointer;
  width: 25cqw;
  max-width: 96px;
  padding-inline-end: 4px;
}

@media (prefers-color-scheme: dark) {
  img {
    filter: invert(1) hue-rotate(180deg) brightness(135%);
  }
}
