/*!
 * Copyright (C) 2023 StApps
 * This program is free software: you can redistribute it and/or modify it
 * under the terms of the GNU General Public License as published by the Free
 * Software Foundation, version 3.
 *
 * This program is distributed in the hope that it will be useful, but WITHOUT
 * ANY WARRANTY; without even the implied warranty of MERCHANTABILITY or
 * FITNESS FOR A PARTICULAR PURPOSE. See the GNU General Public License for
 * more details.
 *
 * You should have received a copy of the GNU General Public License along with
 * this program. If not, see <https://www.gnu.org/licenses/>.
 */

ion-button {
  --background-activated: currentcolor;
  --background-hover: currentcolor;
  --background-focused: currentcolor;

  aspect-ratio: 1;
  color: inherit;
}

.selected {
  color: #fbc02d;
}

@media (hover: hover) {
  ion-button:hover ::ng-deep stapps-icon {
    --fill: 1 !important;
  }
}

::ng-deep ion-item stapps-favorite-button ion-button {
  color: var(--ion-color-medium) !important;
}
