<!--
~ Copyright (C) 2022 StApps
~ This program is free software: you can redistribute it and/or modify it
~ under the terms of the GNU General Public License as published by the Free
~ Software Foundation, version 3.
~
~ This program is distributed in the hope that it will be useful, but WITHOUT
~ ANY WARRANTY; without even the implied warranty of MERCHANTABILITY or
~ FITNESS FOR A PARTICULAR PURPOSE. See the GNU General Public License for
~ more details.
~
~ You should have received a copy of the GNU General Public License along with
~ this program. If not, see <https://www.gnu.org/licenses/>.
-->
@if (text !== undefined) {
  <span class="ion-hide-sm-up">
    {{ text | slice: 0 : size }}
    @if (text.length > size) {
      <span class="ion-hide-sm-up">…</span>
    }
  </span>
  <span class="ion-hide-sm-down ion-hide-md-up">
    {{ text | slice: 0 : size * 2 }}
    @if (text.length > size * 2) {
      <span class="ion-hide-sm-down ion-hide-md-up"> … </span>
    }
  </span>
  <span class="ion-hide-md-down">
    {{ text | slice: 0 : size * 3 }}
    @if (text.length > size * 3) {
      <span class="ion-hide-md-down">…</span>
    }
  </span>
}
