/*!
 * Copyright (C) 2023 StApps
 * This program is free software: you can redistribute it and/or modify it
 * under the terms of the GNU General Public License as published by the Free
 * Software Foundation, version 3.
 *
 * This program is distributed in the hope that it will be useful, but WITHOUT
 * ANY WARRANTY; without even the implied warranty of MERCHANTABILITY or
 * FITNESS FOR A PARTICULAR PURPOSE. See the GNU General Public License for
 * more details.
 *
 * You should have received a copy of the GNU General Public License along with
 * this program. If not, see <https://www.gnu.org/licenses/>.
 */
ion-button {
  margin: 0;

  &.button-disabled::ng-deep stapps-icon {
    --fill: 1;
  }
}

.rating-stars {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;

  contain: content;
  display: flex;
  flex-direction: row-reverse;
  gap: var(--spacing-md);
  align-items: center;
  justify-content: flex-start;

  padding-inline: var(--spacing-xl);

  background: var(--ion-color-light);
  border-radius: var(--border-radius-default);

  > ion-icon {
    &:active::ng-deep stapps-icon,
    &:has(:checked)::ng-deep stapps-icon,
    &:has(:checked)::ng-deep ~ *::ng-deep stapps-icon,
    &:active::ng-deep ~ *::ng-deep stapps-icon {
      --fill: 1;

      color: var(--ion-color-dark);
    }
    @media (hover: hover) {
      &:hover ~ *::ng-deep stapps-icon,
      &:hover::ng-deep stapps-icon {
        --fill: 1;
      }
    }
  }

  > .thank-you {
    pointer-events: none;

    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;

    display: flex;
    align-items: center;
    justify-content: center;

    padding: var(--spacing-md);

    opacity: 0;
  }
}
