<ion-button size="small" fill="clear" (click)="share() && toast.present()">
  <ion-icon [size]="24" slot="icon-only" name="share" ios="ios_share"></ion-icon>
</ion-button>
<ion-toast [message]="'toast.TITLE_COPIED' | translate" #toast [duration]="2000"></ion-toast>
