<!--
~ Copyright (C) 2022 StApps
~ This program is free software: you can redistribute it and/or modify it
~ under the terms of the GNU General Public License as published by the Free
~ Software Foundation, version 3.
~
~ This program is distributed in the hope that it will be useful, but WITHOUT
~ ANY WARRANTY; without even the implied warranty of MERCHANTABILITY or
~ FITNESS FOR A PARTICULAR PURPOSE. See the GNU General Public License for
~ more details.
~
~ You should have received a copy of the GNU General Public License along with
~ this program. If not, see <https://www.gnu.org/licenses/>.
-->

<ion-card>
  <ion-card-header>{{ title }}</ion-card-header>
  <ion-card-content>
    @if (isString(content)) {
      @if (isMarkdown) {
        <markdown [data]="content"></markdown>
      } @else {
        <p>{{ content }}</p>
      }
    } @else {
      @if (content && isThing(content[0])) {
        @for (thing of $any(content); track thing) {
          <a [routerLink]="['/data-detail', thing.uid]">
            <p>{{ 'name' | thingTranslate: thing }}</p>
          </a>
        }
      } @else {
        @for (text of $any(content); track text) {
          <p>{{ text }}</p>
        }
      }
    }
  </ion-card-content>
</ion-card>
