.remove-button {
  --color: var(--ion-color-success);
  --border-color: var(--ion-color-success);

  &:hover {
    --color-hover: var(--ion-color-danger);
    --border-color: var(--ion-color-danger);
  }
}
