<!--
~ Copyright (C) 2023 StApps
~ This program is free software: you can redistribute it and/or modify it
~ under the terms of the GNU General Public License as published by the Free
~ Software Foundation, version 3.
~
~ This program is distributed in the hope that it will be useful, but WITHOUT
~ ANY WARRANTY; without even the implied warranty of MERCHANTABILITY or
~ FITNESS FOR A PARTICULAR PURPOSE. See the GNU General Public License for
~ more details.
~
~ You should have received a copy of the GNU General Public License along with
~ this program. If not, see <https://www.gnu.org/licenses/>.
-->

<ion-header>
  <ion-toolbar color="primary" mode="ios">
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>{{ 'profile.title' | translate | titlecase }}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content color="light" parallax [parallaxSize]="130">
  <stapps-id-cards></stapps-id-cards>
  @for (section of sections; track section) {
    <stapps-profile-page-section [item]="section"></stapps-profile-page-section>
  }
  <stapps-section [title]="'profile.titleCourses' | translate">
    <my-courses [visibleDays]="5"></my-courses>
  </stapps-section>
</ion-content>
