<!--
~ Copyright (C) 2023 StApps
~ This program is free software: you can redistribute it and/or modify it
~ under the terms of the GNU General Public License as published by the Free
~ Software Foundation, version 3.
~
~ This program is distributed in the hope that it will be useful, but WITHOUT
~ ANY WARRANTY; without even the implied warranty of MERCHANTABILITY or
~ FITNESS FOR A PARTICULAR PURPOSE. See the GNU General Public License for
~ more details.
~
~ You should have received a copy of the GNU General Public License along with
~ this program. If not, see <https://www.gnu.org/licenses/>.
-->

<ion-header>
  <ion-toolbar color="primary" mode="ios">
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>{{ 'news.title' | translate }}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content parallax (elementSizeChange)="calcPageSize($event)">
  <ion-refresher slot="fixed" (ionRefresh)="refresh($any($event.target))">
    <ion-refresher-content
      pullingIcon="chevron-down-outline"
      pullingText="{{ 'data.REFRESH_ACTION' | translate }}"
      refreshingText="{{ 'data.REFRESHING' | translate }}"
      refreshingSpinner="crescent"
    >
    </ion-refresher-content>
  </ion-refresher>
  <ion-grid class="filter">
    <ion-row>
      <ion-col size="12">
        @if (settings) {
          <stapps-news-settings-filter
            [settings]="settings"
            (filtersChanged)="toggleFilter($event)"
          ></stapps-news-settings-filter>
        }
      </ion-col>
    </ion-row>
  </ion-grid>
  <div class="news-grid">
    @if (!news) {
      @for (skeleton of [1, 2, 3, 4, 5]; track skeleton) {
        <stapps-skeleton-news-item></stapps-skeleton-news-item>
      }
    }
    @if (news.length > 0) {
      @for (item of news; track item) {
        <stapps-news-item [item]="item"></stapps-news-item>
      }
    }
  </div>
  @if (news.length === 0) {
    <ion-label class="centered-message-container">
      {{ 'search.nothing_found' | translate | titlecase }}
    </ion-label>
  }
  <ion-infinite-scroll id="infinite-scroll" threshold="20%" (ionInfinite)="loadMore($any($event.target))">
    <ion-infinite-scroll-content loading-spinner="crescent"> </ion-infinite-scroll-content>
  </ion-infinite-scroll>
</ion-content>
