/*!
 * Copyright (C) 2023 StApps
 * This program is free software: you can redistribute it and/or modify it
 * under the terms of the GNU General Public License as published by the Free
 * Software Foundation, version 3.
 *
 * This program is distributed in the hope that it will be useful, but WITHOUT
 * ANY WARRANTY; without even the implied warranty of MERCHANTABILITY or
 * FITNESS FOR A PARTICULAR PURPOSE. See the GNU General Public License for
 * more details.
 *
 * You should have received a copy of the GNU General Public License along with
 * this program. If not, see <https://www.gnu.org/licenses/>.
 */
@import '../../theme/util/mixins';

a {
  display: contents;
  color: unset;
  text-decoration: unset;
}

ion-grid {
  width: 100%;
  padding: 0;
}

ion-label {
  font-family: var(--headline-font-family);
  font-weight: var(--font-weight-bold);

  &:only-child {
    display: flex;
    align-items: center;
    height: 100%;
  }
}

ion-col {
  padding: 0;
}

:host ::ng-deep ion-button::part(native) {
  padding-inline: var(--spacing-xs);
}

@media (hover: none) {
  .swiper-button {
    display: none;
  }
}

:host {
  --swiper-scroll-padding: var(--spacing-md);
  --swiper-gap: var(--spacing-sm);

  @include ion-md-up {
    --swiper-scroll-padding: var(--spacing-xxl);

    padding: var(--spacing-lg) var(--spacing-xxl) var(--spacing-sm);
  }

  display: block;
  padding: var(--spacing-sm) var(--spacing-md) var(--spacing-sm);
  transition: height 250ms ease;
}
