<!--
~ Copyright (C) 2023 StApps
~ This program is free software: you can redistribute it and/or modify it
~ under the terms of the GNU General Public License as published by the Free
~ Software Foundation, version 3.
~
~ This program is distributed in the hope that it will be useful, but WITHOUT
~ ANY WARRANTY; without even the implied warranty of MERCHANTABILITY or
~ FITNESS FOR A PARTICULAR PURPOSE. See the GNU General Public License for
~ more details.
~
~ You should have received a copy of the GNU General Public License along with
~ this program. If not, see <https://www.gnu.org/licenses/>.
-->
<ion-grid>
  <ion-row>
    @if (title || item) {
      <ion-col>
        @if (item) {
          <a [routerLink]="['/data-detail', item.uid]" [state]="{item}">
            <ng-container *ngTemplateOutlet="titleTemplate"></ng-container>
          </a>
        } @else {
          <ion-label class="section-headline">{{ title }}</ion-label>
          <ng-content select="[slot=subtitle]"></ng-content>
        }
        <ng-template #titleTemplate>
          <ion-label class="section-headline">{{ title }}</ion-label>
          <ng-content select="[slot=subtitle]"></ng-content>
        </ng-template>
      </ion-col>
    }
    @if (showNav | async) {
      @if (swiper | async; as swiper) {
        <ion-col size="auto" class="swiper-button">
          <ion-button
            fill="clear"
            [color]="buttonColor"
            (click)="swiper.scrollBy({left: -swiper.offsetWidth, behavior: 'smooth'})"
            [disabled]="firstSlideVisible | async"
          >
            <ion-icon [size]="24" slot="icon-only" name="chevron_left"></ion-icon>
          </ion-button>
        </ion-col>
        <ion-col size="auto" class="swiper-button">
          <ion-button
            fill="clear"
            [color]="buttonColor"
            (click)="swiper.scrollBy({left: swiper.offsetWidth, behavior: 'smooth'})"
            [disabled]="lastSlideVisible | async"
          >
            <ion-icon [size]="24" slot="icon-only" name="chevron_right"></ion-icon>
          </ion-button>
        </ion-col>
      }
    }
    <ion-col size="auto">
      <div>
        <ng-content select="[slot=button-end]"></ng-content>
      </div>
    </ion-col>
  </ion-row>
  <ion-row>
    <ion-col>
      <ng-content></ng-content>
    </ion-col>
  </ion-row>
</ion-grid>
