<!--
~ Copyright (C) 2023 StApps
~ This program is free software: you can redistribute it and/or modify it
~ under the terms of the GNU General Public License as published by the Free
~ Software Foundation, version 3.
~
~ This program is distributed in the hope that it will be useful, but WITHOUT
~ ANY WARRANTY; without even the implied warranty of MERCHANTABILITY or
~ FITNESS FOR A PARTICULAR PURPOSE. See the GNU General Public License for
~ more details.
~
~ You should have received a copy of the GNU General Public License along with
~ this program. If not, see <https://www.gnu.org/licenses/>.
-->

<ion-grid>
  @if (item.type === 'academic event') {
    <ion-row>
      <ion-col>
        <div class="ion-text-wrap">
          <ion-label class="title">{{ 'name' | thingTranslate: item }}</ion-label>
          @if (item.description) {
            <p class="title-sub">{{ 'description' | thingTranslate: item }}</p>
          }
          @if (item.academicTerms) {
            <p class="title-sub">{{ 'name' | thingTranslate: item.academicTerms[0] }}</p>
          }
          @if (!item.categories) {
            <ion-note>{{ 'type' | thingTranslate: item | titlecase }}</ion-note>
          }
          @if (item.categories) {
            <ion-note> {{ 'categories' | thingTranslate: item | join: ', ' | titlecase }} </ion-note>
          }
        </div>
      </ion-col>
    </ion-row>
  }
  @if (item.type === 'sport course') {
    <ion-row>
      <ion-col>
        <ion-label class="title">{{ 'name' | thingTranslate: item }}</ion-label>
        @if (item.description) {
          <p class="title-sub">{{ 'description' | thingTranslate: item }}</p>
        }
        @if (item.academicTerms) {
          <p class="title-sub">{{ 'name' | thingTranslate: item.academicTerms[0] }}</p>
        }
        <ion-note>{{ 'type' | thingTranslate: item }}</ion-note>
      </ion-col>
    </ion-row>
  }
</ion-grid>
