<!--
~ Copyright (C) 2022 StApps
~  This program is free software: you can redistribute it and/or modify it
~  under the terms of the GNU General Public License as published by the Free
~  Software Foundation, version 3.
~
~  This program is distributed in the hope that it will be useful, but WITHOUT
~  ANY WARRANTY; without even the implied warranty of MERCHANTABILITY or
~  FITNESS FOR A PARTICULAR PURPOSE. See the GNU General Public License for
~  more details.
~
~  You should have received a copy of the GNU General Public License along with
~  this program. If not, see <https://www.gnu.org/licenses/>.
-->

<ion-grid>
  <ion-row>
    <ion-col>
      <div class="ion-text-wrap">
        <ion-label class="title">{{ 'name' | thingTranslate: item }}</ion-label>
        @if (item.description) {
          <p class="title-sub">{{ 'description' | thingTranslate: item }}</p>
        }
        <ion-note>{{ 'type' | thingTranslate: item }}</ion-note>
      </div>
    </ion-col>
    @if (item.inPlace) {
      <ion-col width-20 text-right>
        @if (item.inPlace) {
          <span>
            <ion-icon name="pin_drop"></ion-icon>
            {{ 'name' | thingTranslate: item.inPlace }}
          </span>
        }
      </ion-col>
    }
  </ion-row>
</ion-grid>
