<!--
~ Copyright (C) 2022 StApps
~ This program is free software: you can redistribute it and/or modify it
~ under the terms of the GNU General Public License as published by the Free
~ Software Foundation, version 3.
~
~ This program is distributed in the hope that it will be useful, but WITHOUT
~ ANY WARRANTY; without even the implied warranty of MERCHANTABILITY or
~ FITNESS FOR A PARTICULAR PURPOSE. See the GNU General Public License for
~ more details.
~
~ You should have received a copy of the GNU General Public License along with
~ this program. If not, see <https://www.gnu.org/licenses/>.
-->
<div class="day-wrapper" [class.leftmost]="isLeftmost">
  <div class="day-header" [class.leftmost]="isLeftmost">{{ day | amDateFormat: dateFormat }}</div>
  @if (dateSeriesGroups; as groups) {
    <div>
      @for (group of groups; track group) {
        <div class="horizontal-group">
          @for (scheduleEvent of group; track scheduleEvent) {
            <stapps-schedule-card
              class="schedule-card"
              [scheduleEvent]="scheduleEvent"
              [fromHour]="hoursRange.from"
              [scale]="scale"
            >
            </stapps-schedule-card>
          }
        </div>
      }
    </div>
  }
  @if (day | dateIsThis: 'date') {
    <stapps-schedule-cursor [hoursRange]="hoursRange" [scale]="scale"> </stapps-schedule-cursor>
  }
</div>
