:host {
  position: relative;
}

ion-button {
  height: 28px;
  min-height: 28px;
  margin: 0;
  font-size: 10px;
}

ion-button.info {
  --padding-start: 4px;
  --padding-end: 4px;
}

ion-button.attribution {
  position: absolute;
  top: -3px;

  &[direction='right'] {
    --border-radius: 0 14px 14px 0;
    --padding-start: 14px;

    left: 16px;
    transform-origin: 0 0;
  }

  &[direction='left'] {
    --border-radius: 14px 0 0 14px;
    --padding-end: 14px;

    right: 16px;
    transform-origin: 100% 0;
  }
}
