@if ((hideAttribution | async) === null) {
  <ion-button [attr.direction]="direction" @fade class="attribution" color="light"
    >© OpenStreetMap</ion-button
  >
}
<ion-button class="info" shape="round" color="light" (click)="this.manualVisible.next()">
  <ion-icon slot="icon-only" name="info"></ion-icon>
</ion-button>
