<ion-fab-button (click)="mapService.mapInstance.resetNorthPitch()" size="small" color="light">
  <svg [style.transform]="transform | async" width="24" height="24" viewBox="0 0 32 32">
    >
    <path d="m8.5 15 6.56-13.13a1.05 1.05 180 0 1 1.88 0L23.5 15 16 12.5Z" />
    <path d="m8.5 15 6.56-13.13a1.05 1.05 180 0 1 1.88 0L23.5 15 16 12.5Z" transform="rotate(180 16 16)" />
  </svg>
</ion-fab-button>
