<div #content class="maplibregl-ctrl">
  <ion-fab-button color="light" (click)="control.trigger()">
    @switch (watchState | async) {
      @case ('ACTIVE_LOCK') {
        <ion-icon name="my_location" color="primary"></ion-icon>
      }
      @case ('BACKGROUND') {
        <ion-icon name="location_searching"></ion-icon>
      }
      @case ('WAITING_ACTIVE') {
        <ion-icon name="location_searching"></ion-icon>
      }
      @default {
        <ion-icon name="location_disabled"></ion-icon>
      }
    }
  </ion-fab-button>
</div>
