/*!
 * Copyright (C) 2023 StApps
 * This program is free software: you can redistribute it and/or modify it
 * under the terms of the GNU General Public License as published by the Free
 * Software Foundation, version 3.
 *
 * This program is distributed in the hope that it will be useful, but WITHOUT
 * ANY WARRANTY; without even the implied warranty of MERCHANTABILITY or
 * FITNESS FOR A PARTICULAR PURPOSE. See the GNU General Public License for
 * more details.
 *
 * You should have received a copy of the GNU General Public License along with
 * this program. If not, see <https://www.gnu.org/licenses/>.
 */
simple-swiper {
  --swiper-slide-width: 256px;
}

.more-news {
  --color: var(--ion-color-medium-tint);

  font-size: var(--font-size-xl);

  &::part(native) {
    height: 100%;
    background: none;
    border-radius: var(--border-radius-default);
  }

  ion-label {
    position: absolute;
    top: 0;
    left: 0;
  }

  ion-thumbnail {
    position: absolute;
    z-index: 100;
    bottom: 0;
    left: 0;

    width: 200px;
    height: 200px;
  }
}

:host.square ::ng-deep {
  ion-item {
    margin: 0;
  }

  ion-row {
    flex-direction: column;
    justify-content: space-between;
    height: 120px;
  }

  ion-col {
    flex-basis: min-content;
    flex-grow: 0;
  }

  .title {
    overflow: hidden;
    display: -webkit-box;
    -webkit-box-orient: vertical;

    white-space: break-spaces;

    -webkit-line-clamp: 3;
  }

  .title-sub {
    display: none;
  }

  // fix for Safari
  stapps-offers-in-list {
    position: absolute;
    right: 0;
    bottom: 0;
  }

  stapps-offers-in-list .place {
    display: none;
  }
}
