<!--
~ Copyright (C) 2023 StApps
~ This program is free software: you can redistribute it and/or modify it
~ under the terms of the GNU General Public License as published by the Free
~ Software Foundation, version 3.
~
~ This program is distributed in the hope that it will be useful, but WITHOUT
~ ANY WARRANTY; without even the implied warranty of MERCHANTABILITY or
~ FITNESS FOR A PARTICULAR PURPOSE. See the GNU General Public License for
~ more details.
~
~ You should have received a copy of the GNU General Public License along with
~ this program. If not, see <https://www.gnu.org/licenses/>.
-->

<stapps-section [title]="'dashboard.news.title' | translate">
  <ion-button size="small" slot="button-end" fill="clear" color="medium" [routerLink]="['/news']">
    <ion-icon slot="icon-only" name="read_more"></ion-icon>
  </ion-button>
  @if (news | async; as news) {
    <simple-swiper class="news-swiper card-swiper" @fade>
      @for (newsItem of news; track newsItem) {
        <stapps-news-item [item]="newsItem"> </stapps-news-item>
      }
      <ion-item [routerLink]="['/news']" class="more-news" lines="none">
        <ion-label>{{ 'dashboard.news.moreNews' | translate | titlecase }}</ion-label>
        <ion-thumbnail class="ion-margin-end">
          <ion-icon color="medium" name="read_more" [size]="150"></ion-icon>
        </ion-thumbnail>
      </ion-item>
    </simple-swiper>
  }
</stapps-section>
