<!--
~ Copyright (C) 2023 StApps
~ This program is free software: you can redistribute it and/or modify it
~ under the terms of the GNU General Public License as published by the Free
~ Software Foundation, version 3.
~
~ This program is distributed in the hope that it will be useful, but WITHOUT
~ ANY WARRANTY; without even the implied warranty of MERCHANTABILITY or
~ FITNESS FOR A PARTICULAR PURPOSE. See the GNU General Public License for
~ more details.
~
~ You should have received a copy of the GNU General Public License along with
~ this program. If not, see <https://www.gnu.org/licenses/>.
-->

<ion-item>
  <ion-label class="ion-text-wrap">
    @if (hasEdition) {
      @if (book) {
        <h2 class="name">{{ 'library.account.pages.fines.labels.edition' | translate }}: {{ book.name }}</h2>
      } @else {
        <h2>
          <ion-skeleton-text animated style="width: 80%"></ion-skeleton-text>
        </h2>
      }
    }
    @for (property of propertiesToShow; track property) {
      @if (fee[property]) {
        <p>
          {{ 'library.account.pages.fines.labels' + '.' + property | translate }}:
          @if (!['date'].includes(property)) {
            {{ fee[property] }}
          } @else {
            {{ fee[property] | amDateFormat: 'll' }}
          }
        </p>
      }
    }
  </ion-label>
</ion-item>
