/*
 * Copyright (C) 2023 StApps
 * This program is free software: you can redistribute it and/or modify it
 * under the terms of the GNU General Public License as published by the Free
 * Software Foundation, version 3.
 *
 * This program is distributed in the hope that it will be useful, but WITHOUT
 * ANY WARRANTY; without even the implied warranty of MERCHANTABILITY or
 * FITNESS FOR A PARTICULAR PURPOSE. See the GNU General Public License for
 * more details.
 *
 * You should have received a copy of the GNU General Public License along with
 * this program. If not, see <https://www.gnu.org/licenses/>.
 */

:host {
  display: contents;
}

simple-swiper {
  --swiper-slide-width: calc(min(90cqw, 12cm));

  padding-block: 32px;
  filter: drop-shadow(0 0 16px rgba(0 0 0 / 10%));
}

@media (prefers-color-scheme: dark) {
  simple-swiper {
    filter: drop-shadow(0 0 16px rgba(0 0 0 / 50%));
  }
}

.log-in {
  position: relative;

  display: flex;
  align-items: flex-end;
  justify-content: center;

  height: calc(min(90cqw, 12cm) * (53.98 / 85.6));
  padding: var(--spacing-xxl);

  color: var(--ion-color-dark);

  background: var(--ion-color-light);
  border-radius: 3mm;
  outline: 1px dashed var(--ion-color-dark);
  outline-offset: calc(-1 * var(--spacing-sm));

  > ion-icon {
    position: absolute;
    top: 0;
    left: 0;

    font-size: calc(min(90cqw, 12cm) / 2);
    color: var(--ion-color-dark);

    opacity: 0.1;
  }
}
