:host {
  position: relative;
  overflow: hidden;
}

img {
  border-radius: 3mm;
}

.expired {
  position: absolute;
  top: 48px;
  left: 48px;
  transform-origin: center;
  translate: -50% -50%;
  rotate: -45deg;

  display: flex;
  align-items: center;
  justify-content: center;

  width: 256px;
  padding: var(--spacing-xs);

  font-weight: bold;
  color: var(--ion-color-danger-contrast);

  background: var(--ion-color-danger);
}
