<!--
~ Copyright (C) 2023 StApps
~ This program is free software: you can redistribute it and/or modify it
~ under the terms of the GNU General Public License as published by the Free
~ Software Foundation, version 3.
~
~ This program is distributed in the hope that it will be useful, but WITHOUT
~ ANY WARRANTY; without even the implied warranty of MERCHANTABILITY or
~ FITNESS FOR A PARTICULAR PURPOSE. See the GNU General Public License for
~ more details.
~
~ You should have received a copy of the GNU General Public License along with
~ this program. If not, see <https://www.gnu.org/licenses/>.
-->
<stapps-section buttonColor="primary-contrast">
  @if (idCards | async; as idCards) {
    <simple-swiper>
      @if (idCards.length === 0) {
        <div>
          <div class="log-in">
            {{ 'profile.userInfo.logInPrompt' | translate | sentencecase }}
            <ion-icon name="person" [fill]="true"></ion-icon>
          </div>
        </div>
      }
      @for (idCard of idCards; track idCard) {
        <stapps-id-card [item]="idCard"></stapps-id-card>
      }
    </simple-swiper>
  }
</stapps-section>
