<!--
~ Copyright (C) 2023 StApps
~ This program is free software: you can redistribute it and/or modify it
~ under the terms of the GNU General Public License as published by the Free
~ Software Foundation, version 3.
~
~ This program is distributed in the hope that it will be useful, but WITHOUT
~ ANY WARRANTY; without even the implied warranty of MERCHANTABILITY or
~ FITNESS FOR A PARTICULAR PURPOSE. See the GNU General Public License for
~ more details.
~
~ You should have received a copy of the GNU General Public License along with
~ this program. If not, see <https://www.gnu.org/licenses/>.
-->
<!--
<ion-tab-bar slot="bottom">
  <ion-tab-button rootLink="/overview" redirectedFrom="/" tab="overview">
    <ion-icon name="home"></ion-icon>
    <ion-label>{{ 'tabs.home' | translate }}</ion-label>
  </ion-tab-button>
  <ion-tab-button rootLink="/canteen">
    <ion-icon name="local_cafe"></ion-icon>
    <ion-label>{{ 'tabs.canteens' | translate }}</ion-label>
  </ion-tab-button>
  <ion-tab-button rootLink="/profile">
    <ion-icon name="school"></ion-icon>
    <ion-label>{{ 'tabs.schedule' | translate }}</ion-label>
  </ion-tab-button>
  <ion-tab-button rootLink="/map">
    <ion-icon name="map"></ion-icon>
    <ion-label>{{ 'tabs.map' | translate }}</ion-label>
  </ion-tab-button>
</ion-tab-bar>
-->

<ion-tab-bar slot="bottom" [selectedTab]="selectedTab">
  <ion-menu-toggle>
    <ion-tab-button class="menu-button">
      <ion-icon name="menu"></ion-icon>
    </ion-tab-button>
  </ion-menu-toggle>
  @for (category of menu; track category; let isFirst = $first) {
    <ion-tab-button [rootLink]="category.route" [redirectedFrom]="category.route" [tab]="category.title">
      <ion-icon [name]="$any(category.icon)"></ion-icon>
      <ion-label>{{ category.translations[language]?.title | titlecase }}</ion-label>
    </ion-tab-button>
  }
</ion-tab-bar>
