/*!
 * Copyright (C) 2023 StApps
 * This program is free software: you can redistribute it and/or modify it
 * under the terms of the GNU General Public License as published by the Free
 * Software Foundation, version 3.
 *
 * This program is distributed in the hope that it will be useful, but WITHOUT
 * ANY WARRANTY; without even the implied warranty of MERCHANTABILITY or
 * FITNESS FOR A PARTICULAR PURPOSE. See the GNU General Public License for
 * more details.
 *
 * You should have received a copy of the GNU General Public License along with
 * this program. If not, see <https://www.gnu.org/licenses/>.
 */

// http://ionicframework.com/docs/theming/
@import '~@ionic/angular/css/normalize.css';
@import '~@ionic/angular/css/structure.css';
@import '~@ionic/angular/css/typography.css';
@import '~@ionic/angular/css/core.css';

@import '~@ionic/angular/css/padding.css';
@import '~@ionic/angular/css/float-elements.css';
@import '~@ionic/angular/css/text-alignment.css';
@import '~@ionic/angular/css/text-transformation.css';
@import '~@ionic/angular/css/flex-utils.css';
@import '~@ionic/angular/css/display.css';

@import '~maplibre-gl/dist/maplibre-gl.css';

@import 'swiper/scss';
@import 'swiper/scss/controller';
@import 'swiper/scss/navigation';

@import './theme/common/helper';
@import './theme/common/ion-alert';
@import './theme/common/ion-button';
@import './theme/common/ion-card';
@import './theme/common/ion-content-parallax';
@import './theme/common/ion-header';
@import './theme/common/ion-img';
@import './theme/common/ion-item';
@import './theme/common/ion-menu';
@import './theme/common/ion-modal';
@import './theme/common/ion-popover';
@import './theme/common/ion-refresher';
@import './theme/common/ion-searchbar';
@import './theme/common/ion-toolbar';
@import './theme/common/link';
@import './theme/common/maplibre';
@import './theme/common/material-symbols';
@import './theme/common/swiper';
@import './theme/common/title';

@import './theme/components/card';
@import './theme/components/centered-message-container';
@import './theme/components/image-dark';
@import './theme/components/section';

@import './theme/variables';

stapps-icon {
  --size-unit: 1px;
  --weight: 400;
  --grade: 0;
  --fill: 0;
}

.add-event-popover {
  --width: fit-content;
  --max-width: 95%;
}
