<ion-grid>
  <ion-row>
    <ion-col>
      <div class="ion-text-wrap">
        <ion-label class="title"> {{ 'name' | thingTranslate: item }} </ion-label>
        @if (item.academicTerm) {
          <p class="title-sub">{{ item.academicTerm.name }}</p>
        }
      </div>
    </ion-col>
  </ion-row>
</ion-grid>
