// since we have three lines of information, clamp harder than usual
ion-col ion-label {
  -webkit-line-clamp: 2;

  &.title-sub,
  &.employer {
    -webkit-line-clamp: 1 !important;
  }
}

ion-label.categories {
  color: var(--ion-color-medium);
}
