div {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  height: 100%;

  ion-card-header {
    ion-button {
      position: absolute;
      top: 0;
      right: 0;
    }
  }

  ion-card-content {
    overflow: scroll;
    height: 100%;
    padding-right: 0;
    padding-left: 0;
  }
}

.horizontal-flex {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;

  height: fit-content;
}
