<!--
~ Copyright (C) 2022 StApps
~ This program is free software: you can redistribute it and/or modify it
~ under the terms of the GNU General Public License as published by the Free
~ Software Foundation, version 3.
~
~ This program is distributed in the hope that it will be useful, but WITHOUT
~ ANY WARRANTY; without even the implied warranty of MERCHANTABILITY or
~ FITNESS FOR A PARTICULAR PURPOSE. See the GNU General Public License for
~ more details.
~
~ You should have received a copy of the GNU General Public License along with
~ this program. If not, see <https://www.gnu.org/licenses/>.
-->

<ion-grid>
  <ion-row>
    <ion-col>
      <div class="ion-text-wrap">
        <ion-label class="title">
          {{ 'name' | thingTranslate: item }}
          @if (item.honorificPrefix) {
            <span>, {{ item.honorificPrefix }}</span>
          }
        </ion-label>
        @if (item.telephone || item.email) {
          <p>
            @if (item.telephone) {
              <span> <ion-icon name="call"></ion-icon>&nbsp;{{ item.telephone }}&nbsp; </span>
            }
            @if (item.email) {
              <span> <ion-icon name="mail"></ion-icon>&nbsp;{{ item.email }} </span>
            }
          </p>
        }
        @if (item.jobTitles) {
          <stapps-long-inline-text [text]="item.jobTitles.join(', ')" [size]="50"></stapps-long-inline-text>
        }
      </div>
    </ion-col>
  </ion-row>
</ion-grid>
