/*!
 * Copyright (C) 2022 StApps
 * This program is free software: you can redistribute it and/or modify it
 * under the terms of the GNU General Public License as published by the Free
 * Software Foundation, version 3.
 *
 * This program is distributed in the hope that it will be useful, but WITHOUT
 * ANY WARRANTY; without even the implied warranty of MERCHANTABILITY or
 * FITNESS FOR A PARTICULAR PURPOSE. See the GNU General Public License for
 * more details.
 *
 * You should have received a copy of the GNU General Public License along with
 * this program. If not, see <https://www.gnu.org/licenses/>.
 */

.column {
  display: flex;
  flex-direction: column;
}

.item {
  height: 72px;
}

.tree-indicator {
  width: 16px;
  margin-right: 4px;
  padding-left: 1px;
}

.super-assessments-list {
  // prevent the list from hijacking hover overlays
  z-index: -1;

  :last-child {
    .tree-indicator-after {
      display: none;
    }
  }
}
