<!--
  ~ Copyright (C) 2023 StApps
  ~ This program is free software: you can redistribute it and/or modify it
  ~ under the terms of the GNU General Public License as published by the Free
  ~ Software Foundation, version 3.
  ~
  ~ This program is distributed in the hope that it will be useful, but WITHOUT
  ~ ANY WARRANTY; without even the implied warranty of MERCHANTABILITY or
  ~ FITNESS FOR A PARTICULAR PURPOSE. See the GNU General Public License for
  ~ more details.
  ~
  ~ You should have received a copy of the GNU General Public License along with
  ~ this program. If not, see <https://www.gnu.org/licenses/>.
  -->
<stapps-search-page
  [showDefaultData]="true"
  [title]="'map.page.TITLE' | translate"
  [placeholder]="'map.page.search_bar.placeholder' | translate"
  [forcedFilter]="forcedFilter"
  [navigation]="[]"
></stapps-search-page>

<ion-content id="map">
  <mgl-map
    [styleName]="('(prefers-color-scheme: dark)' | mediaQuery | async) ? 'dark' : 'light'"
    [antialias]="true"
    [attributionControl]="false"
    [fitBounds]="(bounds | async) ?? undefined"
    [fitBoundsOptions]="{maxZoom: 15, padding: {top: 100, bottom: 50, left: 50, right: 50}, animate: false}"
    (move)="mapMove($event)"
    auto-3d
  >
    @if (dataProvider.current | async; as result) {
      <stapps-building-markers [data]="result.data | thingPolygonFeatureCollection"></stapps-building-markers>
      <stapps-poi-markers [data]="result.data | thingPoiFeatureCollection"></stapps-poi-markers>
    }
    <mgl-control position="bottom-left" mglScale></mgl-control>
    <mgl-control position="top-left">
      <stapps-map-attribution></stapps-map-attribution>
    </mgl-control>
    <mgl-control position="top-right">
      <stapps-compass-control></stapps-compass-control>
    </mgl-control>
    <stapps-geolocate-control
      position="bottom-right"
      [trackUserLocation]="true"
      [showUserLocation]="true"
    ></stapps-geolocate-control>
  </mgl-map>
</ion-content>
