<!--
~ Copyright (C) 2023 StApps
~ This program is free software: you can redistribute it and/or modify it
~ under the terms of the GNU General Public License as published by the Free
~ Software Foundation, version 3.
~
~ This program is distributed in the hope that it will be useful, but WITHOUT
~ ANY WARRANTY; without even the implied warranty of MERCHANTABILITY or
~ FITNESS FOR A PARTICULAR PURPOSE. See the GNU General Public License for
~ more details.
~
~ You should have received a copy of the GNU General Public License along with
~ this program. If not, see <https://www.gnu.org/licenses/>.
-->

@if (dishes | async; as dishes) {
  @if (dishes.length > 0) {
    <simple-swiper @fade>
      @for (dish of dishes; track dish) {
        <stapps-data-list-item
          [hideThumbnail]="true"
          [item]="dish"
          appearance="square"
        ></stapps-data-list-item>
      }
    </simple-swiper>
  }
  @if (!dishes || dishes.length === 0) {
    <ion-item class="no-dishes" lines="none">
      <ion-label>
        {{ 'dashboard.canteens.no_dishes_available' | translate }}
      </ion-label>
    </ion-item>
  }
} @else {
  <div class="placeholder"></div>
}
