/*!
 * Copyright (C) 2023 StApps
 * This program is free software: you can redistribute it and/or modify it
 * under the terms of the GNU General Public License as published by the Free
 * Software Foundation, version 3.
 *
 * This program is distributed in the hope that it will be useful, but WITHOUT
 * ANY WARRANTY; without even the implied warranty of MERCHANTABILITY or
 * FITNESS FOR A PARTICULAR PURPOSE. See the GNU General Public License for
 * more details.
 *
 * You should have received a copy of the GNU General Public License along with
 * this program. If not, see <https://www.gnu.org/licenses/>.
 */

app-root ion-toolbar.in-toolbar {
  --background: var(--ion-color-primary);
  --border-color: var(--ion-color-primary);
  --color: var(--ion-color-primary-contrast);
  --ion-toolbar-color: var(--ion-color-primary-contrast);
  --min-height: unset;
  --padding-start: 0;
  --padding-end: 0;
  --padding-top: 0;
  --padding-bottom: 0;
  --opacity: 1;

  padding: 0 var(--spacing-md) var(--spacing-md);

  &:first-of-type {
    --padding-top: 0;
    --padding-bottom: 0;

    padding-bottom: 0;
  }

  &:last-of-type {
    --padding-top: 0;
    --padding-bottom: 0;
  }

  ion-segment {
    &:last-of-type {
      --padding-bottom: 0;

      padding-bottom: 0;
    }
  }

  ion-menu-button.filter {
    --padding-start: var(--spacing-lg);
    --padding-end: var(--spacing-lg);

    ion-icon {
      margin-right: var(--spacing-md);
      font-size: var(--font-size-lg);
    }
  }

  ion-title {
    font-size: var(--font-size-lg);
    font-weight: var(--font-weight-black);
  }

  ion-menu-button {
    width: auto;
  }

  ion-back-button {
    --icon-margin-end: var(--spacing-xs);

    height: 42px; // this prevents the back button to become a .x px value
  }
}

app-root ion-toolbar.in-toolbar ion-searchbar,
.stapps-searchbar {
  --box-shadow: none;

  padding-right: 0;
  padding-left: 0;
}
