ion-alert {
  button.alert-button.preferred {
    color: var(--ion-color-primary-contrast);
    background-color: var(--ion-color-primary);
  }

  button.alert-button.default {
    color: var(--ion-color-primary);
    background-color: transparent;
  }
}
