/*!
 * Copyright (C) 2022 StApps
 * This program is free software: you can redistribute it and/or modify it
 * under the terms of the GNU General Public License as published by the Free
 * Software Foundation, version 3.
 *
 * This program is distributed in the hope that it will be useful, but WITHOUT
 * ANY WARRANTY; without even the implied warranty of MERCHANTABILITY or
 * FITNESS FOR A PARTICULAR PURPOSE. See the GNU General Public License for
 * more details.
 *
 * You should have received a copy of the GNU General Public License along with
 * this program. If not, see <https://www.gnu.org/licenses/>.
 */

ion-segment-button,
ion-back-button,
ion-button {
  text-transform: none;
}

.can-go-back ion-header ion-back-button {
  display: block;
}

app-root {
  .button {
    --padding-top: var(--spacing-sm);
    --padding-bottom: var(--spacing-sm);

    height: auto;
    font-size: var(--font-size-sm);
    font-weight: var(--font-weight-semi-bold);

    // Add default border, so buttons have the same size
    &:not([fill='outline'])::part(native) {
      border: var(--border-width-default) solid transparent;
    }

    &[fill='outline']::part(native) {
      border: var(--border-width-default) solid rgb(var(--ion-color-primary-contrast-rgb) 0.2);
    }

    &.button-active {
      --background: var(--ion-color-tertiary);

      font-weight: var(--font-weight-bold);

      ion-icon {
        color: var(--ion-color-secondary);
      }
    }
  }

  // Change default border radius
  ion-buttons ion-button.button,
  .button {
    &:not(.button-round) {
      --border-radius: var(--border-radius-default);
    }
  }

  ion-menu-button.button {
    font-size: var(--font-size-lg);
  }
}
