.maplibregl-map {
  font-family: inherit;
}

.maplibregl-ctrl-scale {
  position: relative;

  padding: 0 0 2px;

  font-size: 12px;
  font-weight: bold;
  color: var(--ion-color-dark);

  background: none;
  border: none;

  &::after {
    content: '';

    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;

    height: 8px;

    border-right: 2px solid var(--ion-color-dark);
    border-bottom: 2px solid var(--ion-color-dark);
  }
}
