/*!
 * Copyright (C) 2022 StApps
 * This program is free software: you can redistribute it and/or modify it
 * under the terms of the GNU General Public License as published by the Free
 * Software Foundation, version 3.
 *
 * This program is distributed in the hope that it will be useful, but WITHOUT
 * ANY WARRANTY; without even the implied warranty of MERCHANTABILITY or
 * FITNESS FOR A PARTICULAR PURPOSE. See the GNU General Public License for
 * more details.
 *
 * You should have received a copy of the GNU General Public License along with
 * this program. If not, see <https://www.gnu.org/licenses/>.
 */
ion-label a {
  display: block;

  margin: 20px 0 5px;

  font-weight: 700;
  color: var(--ion-color-primary);
  text-decoration: none;
}

ion-grid {
  margin: 5px;
  padding: 0;

  ion-row {
    color: var(--ion-color-light-contrast);
    background-color: var(--ion-color-light);
    border-bottom: 1px solid #fff;

    ion-col:first-child {
      font-weight: 700;
    }
  }
}

ion-icon ::ng-deep stapps-icon {
  --fill: 1;
}
