/*!
 * Copyright (C) 2023 StApps
 * This program is free software: you can redistribute it and/or modify it
 * under the terms of the GNU General Public License as published by the Free
 * Software Foundation, version 3.
 *
 * This program is distributed in the hope that it will be useful, but WITHOUT
 * ANY WARRANTY; without even the implied warranty of MERCHANTABILITY or
 * FITNESS FOR A PARTICULAR PURPOSE. See the GNU General Public License for
 * more details.
 *
 * You should have received a copy of the GNU General Public License along with
 * this program. If not, see <https://www.gnu.org/licenses/>.
 */

ion-card {
  height: 100%;
  margin: 0;
  background-size: cover;
}

ion-card::part(native) {
  display: flex;
  flex-direction: column-reverse;
  height: 100%;
  background: linear-gradient(to top, #0e0e0e, transparent);
}

.card {
  aspect-ratio: 1;
  padding: 0;
  box-shadow: none;
}

ion-card-title {
  --color: var(--ion-text-color-dark, white);

  overflow: hidden;
  display: -webkit-box;
  -webkit-box-orient: vertical;

  font-size: var(--font-size-xl);

  -webkit-line-clamp: 3;
  max-lines: 3;
}

ion-card-subtitle {
  --color: var(--ion-text-color-dark, white);
}
