<!--
~ Copyright (C) 2023 StApps
~ This program is free software: you can redistribute it and/or modify it
~ under the terms of the GNU General Public License as published by the Free
~ Software Foundation, version 3.
~
~ This program is distributed in the hope that it will be useful, but WITHOUT
~ ANY WARRANTY; without even the implied warranty of MERCHANTABILITY or
~ FITNESS FOR A PARTICULAR PURPOSE. See the GNU General Public License for
~ more details.
~
~ You should have received a copy of the GNU General Public License along with
~ this program. If not, see <https://www.gnu.org/licenses/>.
-->

@if (applicable.locate) {
  <stapps-locate-action-chip [item]="item"></stapps-locate-action-chip>
}
@if (applicable.navigate) {
  <stapps-navigate-action-chip [item]="$any(item)"></stapps-navigate-action-chip>
}
<!-- Add Event Chip needs to load data and should be the last -->
@if (applicable.event) {
  <stapps-add-event-action-chip [item]="item"></stapps-add-event-action-chip>
}
