/*!
 * Copyright (C) 2023 StApps
 * This program is free software: you can redistribute it and/or modify it
 * under the terms of the GNU General Public License as published by the Free
 * Software Foundation, version 3.
 *
 * This program is distributed in the hope that it will be useful, but WITHOUT
 * ANY WARRANTY; without even the implied warranty of MERCHANTABILITY or
 * FITNESS FOR A PARTICULAR PURPOSE. See the GNU General Public License for
 * more details.
 *
 * You should have received a copy of the GNU General Public License along with
 * this program. If not, see <https://www.gnu.org/licenses/>.
 */
.list-header {
  --padding-start: 0;
  --background: var(--ion-color-primary-shade);

  > ion-checkbox {
    --background: none;
    --border-color: var(--ion-color-primary-contrast);
    --checkbox-background-checked: var(--ion-color-primary-contrast);
    --border-color-checked: var(--ion-color-primary-contrast);
    --checkmark-color: var(--ion-color-primary);

    > ion-list-header {
      --color: var(--ion-color-primary-contrast);
      --background: none;
    }
  }
}

ion-item-divider.ios > ion-checkbox {
  margin-right: 8px;
}

:host > .list-header {
  --background: none;
}

ion-list.md {
  padding-top: 0;
}

.place {
  display: inline-flex;
  align-items: center;
}
