/*!
 * Copyright (C) 2023 StApps
 * This program is free software: you can redistribute it and/or modify it
 * under the terms of the GNU General Public License as published by the Free
 * Software Foundation, version 3.
 *
 * This program is distributed in the hope that it will be useful, but WITHOUT
 * ANY WARRANTY; without even the implied warranty of MERCHANTABILITY or
 * FITNESS FOR A PARTICULAR PURPOSE. See the GNU General Public License for
 * more details.
 *
 * You should have received a copy of the GNU General Public License along with
 * this program. If not, see <https://www.gnu.org/licenses/>.
 */

.card {
  display: block;

  height: 100%;
  padding: var(--spacing-md);

  font-size: var(--font-size-sm);
  font-weight: var(--font-weight-bold);
  text-align: left;

  // background-color: var(--ion-item-color);
  border-radius: var(--border-radius-default);
  box-shadow: var(--shadow-cards);

  transition:
    transform 250ms ease-in-out,
    box-shadow 250ms ease-in-out;
}

@media (hover: hover) {
  a.card,
  .card.clickable {
    &:hover {
      transform: translate(-5px, -5px);
      box-shadow: var(--shadow-cards-hover);
    }
  }
}
