.centered-message-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  min-height: 50vh;
  margin: 20px;

  text-align: center;

  ion-icon {
    font-size: 64px;
  }

  ion-label {
    font-size: x-large;
  }
}
