.section-headline {
  display: flex;
  flex-direction: revert;
  justify-content: space-between;

  width: 100%;
  margin-bottom: var(--spacing-sm);

  font-size: var(--font-size-lg);
  font-weight: var(--font-weight-black);
  font-stretch: condensed;
  text-transform: uppercase;
}
