/*!
 * Copyright (C) 2023 StApps
 * This program is free software: you can redistribute it and/or modify it
 * under the terms of the GNU General Public License as published by the Free
 * Software Foundation, version 3.
 *
 * This program is distributed in the hope that it will be useful, but WITHOUT
 * ANY WARRANTY; without even the implied warranty of MERCHANTABILITY or
 * FITNESS FOR A PARTICULAR PURPOSE. See the GNU General Public License for
 * more details.
 *
 * You should have received a copy of the GNU General Public License along with
 * this program. If not, see <https://www.gnu.org/licenses/>.
 */
// Ionic Variables and Theming. For more info, please see:
// http://ionicframework.com/docs/theming/
@import './colors';
@import './fonts';

:root {
  // Fonts
  --ion-font-family: 'Barlow', helvetica, arial, sans-serif;
  --headline-font-family: 'Barlow Condensed', helvetica, arial, sans-serif;
  --font-size-xxs: 10px;
  --font-size-xs: 12px;
  --font-size-sm: 14px;
  --font-size-md: 16px;
  --font-size-lg: 20px;
  --font-size-xl: 24px;
  --font-weight-thin: 200;
  --font-weight-regular: 400;
  --font-weight-semi-bold: 700;
  --font-weight-bold: 800;
  --font-weight-black: 900;

  // Spacing
  --spacing-xs: 4px;
  --spacing-sm: 8px;
  --spacing-md: 12px;
  --spacing-lg: 16px;
  --spacing-xl: 20px;
  --spacing-xxl: 24px;
  --border-width-default: 1px;
  --border-radius-default: 8px;
  --header-spacing-bottom: 70px;
  --navigation-rail-width: 80px;
  --navigation-rail-item-height: 56px;
  --icon-stroke-width: 1.2;
  --tablet-top-bar-height: 96px;
  --ion-tabbar-height: 50px;
}

html,
body {
  font-family: var(--ion-font-family);
  background-color: var(--ion-color-primary);
}
