<!--
~ Copyright (C) 2023 StApps
~ This program is free software: you can redistribute it and/or modify it
~ under the terms of the GNU General Public License as published by the Free
~ Software Foundation, version 3.
~
~ This program is distributed in the hope that it will be useful, but WITHOUT
~ ANY WARRANTY; without even the implied warranty of MERCHANTABILITY or
~ FITNESS FOR A PARTICULAR PURPOSE. See the GNU General Public License for
~ more details.
~
~ You should have received a copy of the GNU General Public License along with
~ this program. If not, see <https://www.gnu.org/licenses/>.
-->

<ion-header>
  <ion-toolbar color="primary" mode="ios">
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    @if (tabChoreographer.currentValue === 'calendar') {
      <ion-title [innerHTML]="'schedule.calendar' | translate | titlecase"></ion-title>
    }
    @if (tabChoreographer.currentValue === 'week-overview') {
      <ion-title [innerHTML]="'schedule.recurring' | translate | titlecase"></ion-title>
    }
    @if (tabChoreographer.currentValue === 'single') {
      <ion-title [innerHTML]="'schedule.single' | translate | titlecase"></ion-title>
    }
    <ion-buttons slot="end">
      <ion-button (click)="onTodayClick()">
        <ion-icon name="today" slot="icon-only"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
  <ion-toolbar color="primary" mode="md" class="tabs-toolbar">
    <ion-segment #segment value="calendar" (ionChange)="onSegmentChange()">
      <ion-segment-button value="calendar" layout="icon-start">
        <ion-label class="ion-text-wrap" [innerHTML]="'schedule.calendar' | translate"></ion-label>
        <ion-icon name="calendar_today"></ion-icon>
      </ion-segment-button>
      <ion-segment-button value="week-overview" layout="icon-start">
        <ion-label class="ion-text-wrap" [innerHTML]="'schedule.recurring' | translate"></ion-label>
        <ion-icon name="event_repeat"></ion-icon>
      </ion-segment-button>
      <ion-segment-button value="single" layout="icon-start">
        <ion-label class="ion-text-wrap" [innerHTML]="'schedule.single' | translate"></ion-label>
        <ion-icon name="event_upcoming"></ion-icon>
      </ion-segment-button>
    </ion-segment>
  </ion-toolbar>
</ion-header>

<ion-content scroll-y="false">
  <div
    [@materialSharedAxisX]="tabChoreographer.animationState"
    (@materialSharedAxisX.done)="tabChoreographer.animationDone()"
  >
    @switch (tabChoreographer.currentValue) {
      @case ('calendar') {
        <stapps-calendar-view [layout]="layout"></stapps-calendar-view>
      }
      <!-- Schedule view needs full week -->
      @case ('week-overview') {
        <stapps-schedule-view [layout]="layout"></stapps-schedule-view>
      }
      @case ('single') {
        <stapps-single-events></stapps-single-events>
      }
    }
  </div>

  <ion-fab
    vertical="bottom"
    horizontal="end"
    slot="fixed"
    [routerLink]="['./event-picker']"
    [routerAnimation]="fabAnimation"
  >
    <ion-fab-button>
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>
