:host {
  ion-content {
    height: 100%;
  }

  .hour-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-right: var(--spacing-md);

    .hour-label {
      display: inline-block;
      width: fit-content;
      text-align: center;
    }

    .hour-line {
      width: 1px;
      height: 20px;
      margin: var(--spacing-xs) 0;
      border-left: 1px solid var(--ion-color-primary);
    }
  }

  .day-label {
    padding: 16px;
    font-size: large;
    font-weight: bold;
  }

  .event-card {
    width: 100%;
    max-width: 600px;
  }
}
