<ion-grid>
  <ion-row>
    <ion-col>
      <div class="ion-text-wrap">
        <ion-label class="title">{{ 'name' | thingTranslate: item }}</ion-label>
        @if (item.description) {
          <p class="title-sub">
            <stapps-long-inline-text
              [text]="'description' | thingTranslate: item"
              [size]="80"
            ></stapps-long-inline-text>
          </p>
        }
        @if (item.duration) {
          <p>
            {{ 'duration' | propertyNameTranslate: item | titlecase }}:
            {{ item.duration | amDuration: 'seconds' }}
          </p>
        }
        <ion-note>{{ 'type' | thingTranslate: item }}</ion-note>
      </div>
    </ion-col>
  </ion-row>
</ion-grid>
