<!--
~ Copyright (C) 2022 StApps
~ This program is free software: you can redistribute it and/or modify it
~ under the terms of the GNU General Public License as published by the Free
~ Software Foundation, version 3.
~
~ This program is distributed in the hope that it will be useful, but WITHOUT
~ ANY WARRANTY; without even the implied warranty of MERCHANTABILITY or
~ FITNESS FOR A PARTICULAR PURPOSE. See the GNU General Public License for
~ more details.
~
~ You should have received a copy of the GNU General Public License along with
~ this program. If not, see <https://www.gnu.org/licenses/>.
-->

@if (item.actors) {
  <stapps-simple-card
    [title]="'actors' | propertyNameTranslate: item | titlecase"
    [content]="item.actors"
  ></stapps-simple-card>
}
@if (item.authors) {
  <stapps-simple-card
    [title]="'authors' | propertyNameTranslate: item | titlecase"
    [content]="item.authors"
  ></stapps-simple-card>
}
@if (item.datePublished) {
  <stapps-simple-card
    [title]="'datePublished' | propertyNameTranslate: item | titlecase"
    [content]="item.datePublished | amDateFormat: 'll'"
  >
  </stapps-simple-card>
}
@if (item.offers) {
  <stapps-offers-detail [offers]="item.offers"></stapps-offers-detail>
}
