/*!
 * Copyright (C) 2022 StApps
 * This program is free software: you can redistribute it and/or modify it
 * under the terms of the GNU General Public License as published by the Free
 * Software Foundation, version 3.
 *
 * This program is distributed in the hope that it will be useful, but WITHOUT
 * ANY WARRANTY; without even the implied warranty of MERCHANTABILITY or
 * FITNESS FOR A PARTICULAR PURPOSE. See the GNU General Public License for
 * more details.
 *
 * You should have received a copy of the GNU General Public License along with
 * this program. If not, see <https://www.gnu.org/licenses/>.
 */

@import '../../../theme/util/mixins';

@include ion-md-down {
  ion-toolbar,
  .logo,
  .schedule,
  .schedule > a > * {
    will-change: transform;
  }

  .logo {
    transform-origin: center right;
  }

  .schedule {
    > a {
      > * {
        transform-origin: center;
      }

      > ion-label:first-child {
        transform-origin: bottom;
      }

      > ion-label:last-child {
        transform-origin: top;
      }

      > ion-icon:first-child {
        transform-origin: top;
      }
    }
  }
}
