<tr>
  <th scope="row"><h3>{{idx}}</h3></th>
  <td>
    <div class="alert {{status}}">{{name}}</div>
    <p>{{message}}</p>
    <p>{{suggestion}}</p>
  </td>
  <td style="max-width: 600px">
    <p>{{schemaPath}}</p>
    <pre>{{instance}}</pre>
  </td>
</tr>
