<div class="mw-100">
 <h2>Errors in <code>{{testFile}}</code></h2>
  <table class="table table-striped table-hover">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Error</th>
        <th scope="col">Instance</th>
      </tr>
    </thead>
    <tbody>

    {{&errors}}

    </tbody>
  </table>
</div>
