/*!
 * Copyright (C) 2023 StApps
 * This program is free software: you can redistribute it and/or modify it
 * under the terms of the GNU General Public License as published by the Free
 * Software Foundation, version 3.
 *
 * This program is distributed in the hope that it will be useful, but WITHOUT
 * ANY WARRANTY; without even the implied warranty of MERCHANTABILITY or
 * FITNESS FOR A PARTICULAR PURPOSE. See the GNU General Public License for
 * more details.
 *
 * You should have received a copy of the GNU General Public License along with
 * this program. If not, see <https://www.gnu.org/licenses/>.
 */

ion-note {
  display: flex;
  align-items: center;
  justify-content: flex-start;

  > ion-label {
    display: inline-flex;
    align-items: center;
    justify-content: center;
  }
}

p.title-sub {
  display: flex;
  align-items: center;
}

ion-label + ion-label::before {
  content: '•';
  margin-inline: var(--spacing-xs);
}

stapps-opening-hours ::ng-deep div {
  padding-block: var(--spacing-xs);
}
