<!--
~ Copyright (C) 2023 StApps
~ This program is free software: you can redistribute it and/or modify it
~ under the terms of the GNU General Public License as published by the Free
~ Software Foundation, version 3.
~
~ This program is distributed in the hope that it will be useful, but WITHOUT
~ ANY WARRANTY; without even the implied warranty of MERCHANTABILITY or
~ FITNESS FOR A PARTICULAR PURPOSE. See the GNU General Public License for
~ more details.
~
~ You should have received a copy of the GNU General Public License along with
~ this program. If not, see <https://www.gnu.org/licenses/>.
-->

@if (isMensaThing(item)) {
  <stapps-place-mensa-detail-content
    [item]="item"
    [openAsModal]="openAsModal"
  ></stapps-place-mensa-detail-content>
}
@if (item.type !== 'floor') {
  @if (item.categories) {
    <stapps-simple-card
      [title]="'categories' | propertyNameTranslate: item | titlecase"
      [content]="'categories' | thingTranslate: item"
    ></stapps-simple-card>
  }
  @if (item.address) {
    <stapps-address-detail [address]="item.address"></stapps-address-detail>
  }
}
@if (item.type !== 'building') {
  @if (item.inPlace) {
    <ion-card>
      <ion-card-header> {{ 'inPlace' | propertyNameTranslate: item | titlecase }} </ion-card-header>
      <ion-card-content>
        <stapps-data-list-item [item]="$any(item.inPlace)"></stapps-data-list-item>
      </ion-card-content>
    </ion-card>
  }
}
@if (hasValidLocation) {
  <stapps-map-widget [place]="$any(item)" expandable="true"></stapps-map-widget>
}
