<!--
~ Copyright (C) 2023 StApps
~ This program is free software: you can redistribute it and/or modify it
~ under the terms of the GNU General Public License as published by the Free
~ Software Foundation, version 3.
~
~ This program is distributed in the hope that it will be useful, but WITHOUT
~ ANY WARRANTY; without even the implied warranty of MERCHANTABILITY or
~ FITNESS FOR A PARTICULAR PURPOSE. See the GNU General Public License for
~ more details.
~
~ You should have received a copy of the GNU General Public License along with
~ this program. If not, see <https://www.gnu.org/licenses/>.
-->

<h2>{{ 'name' | thingTranslate: item }}</h2>
@if (item.description) {
  <p>
    <stapps-long-inline-text
      [text]="'description' | thingTranslate: item"
      [size]="80"
    ></stapps-long-inline-text>
  </p>
}
