<!--
~ Copyright (C) 2023 StApps
~ This program is free software: you can redistribute it and/or modify it
~ under the terms of the GNU General Public License as published by the Free
~ Software Foundation, version 3.
~
~ This program is distributed in the hope that it will be useful, but WITHOUT
~ ANY WARRANTY; without even the implied warranty of MERCHANTABILITY or
~ FITNESS FOR A PARTICULAR PURPOSE. See the GNU General Public License for
~ more details.
~
~ You should have received a copy of the GNU General Public License along with
~ this program. If not, see <https://www.gnu.org/licenses/>.
-->

<ion-item
  class="ion-text-wrap ion-margin"
  button="true"
  lines="lines"
  detail="false"
  (click)="notifySelect()"
>
  @if (!hideThumbnail) {
    <ion-thumbnail slot="start" class="ion-margin-end">
      <ion-icon color="dark" [name]="item.type | dataIcon" [size]="36"></ion-icon>
    </ion-thumbnail>
  }
  @if (contentTemplateRef) {
    <ng-container *ngTemplateOutlet="contentTemplateRef; context: {$implicit: item}"></ng-container>
  } @else {
    <div>
      <ng-template [dataListItemHost]="item"></ng-template>
      @if (listItemChipInteraction && appearance !== 'square') {
        <stapps-action-chip-list [item]="item"></stapps-action-chip-list>
      }
    </div>
  }
  @if (listItemEndInteraction) {
    @switch (item.type) {
      @case ('dish') {
        <stapps-rating slot="end" [item]="$any(item)"></stapps-rating>
      }
      @default {
        <stapps-favorite-button slot="end" [item]="$any(item)"></stapps-favorite-button>
      }
    }
  }
</ion-item>
