/*!
 * Copyright (C) 2023 StApps
 * This program is free software: you can redistribute it and/or modify it
 * under the terms of the GNU General Public License as published by the Free
 * Software Foundation, version 3.
 *
 * This program is distributed in the hope that it will be useful, but WITHOUT
 * ANY WARRANTY; without even the implied warranty of MERCHANTABILITY or
 * FITNESS FOR A PARTICULAR PURPOSE. See the GNU General Public License for
 * more details.
 *
 * You should have received a copy of the GNU General Public License along with
 * this program. If not, see <https://www.gnu.org/licenses/>.
 */
svg {
  width: 100%;
  height: 100%;
}

$item-height: 92;
$gap: 4;

.label {
  opacity: 0.1;
  fill: var(--ion-color-medium);
}

.item {
  width: calc(100% - var(--spacing-sm) * 2);

  rx: var(--border-radius-default);
  fill: var(--ion-item-background, var(--ion-background-color, #fff));

  x: var(--spacing-sm);
  y: var(--spacing-sm);
}
