<mgl-geojson-source id="polygons" [data]="data"></mgl-geojson-source>
<mgl-layer
  id="stapps-building-fill"
  type="fill"
  source="polygons"
  before="poi_label"
  [paint]="buildingFillPaint"
  (layerClick)="featureClick($event)"
  (layerMouseEnter)="dataProvider !== null && mapService.changeCanvasCursor('pointer')"
  (layerMouseLeave)="dataProvider !== null && mapService.changeCanvasCursor('grab')"
></mgl-layer>
<mgl-layer
  id="stapps-building-outline"
  type="line"
  source="polygons"
  before="poi_label"
  [paint]="buildingPaint"
></mgl-layer>
<mgl-layer
  id="stapps-building-label"
  type="symbol"
  source="polygons"
  after="poi_label"
  [paint]="(buildingLabelPaint | async) || {}"
  [layout]="buildingLabelLayout"
></mgl-layer>
