<ion-button shape="round" (click)="featureClick()">
  <ion-icon
    slot="start"
    [size]="16"
    [fill]="true"
    [name]="feature.properties.category | stappsMapIcon"
  ></ion-icon>
  <ion-label>{{ feature.properties.name | addWordBreakOpportunities }}</ion-label>
</ion-button>
