ion-button {
  --padding-top: 0;
  --padding-bottom: 0;
  --padding-start: var(--spacing-md);
  --padding-end: var(--spacing-sm);

  max-width: 120px;
  min-height: 0;
  margin: 0;
  margin-block-end: 4px;

  font: inherit;
  font-size: 0.9em;
  font-weight: bold;

  &::part(native) {
    height: 32px;
    line-height: 1.2;
  }
}

ion-icon {
  flex-shrink: 0;
}

ion-label {
  overflow: hidden;
  display: -webkit-box;
  -webkit-box-orient: vertical;

  padding: 4px 0;

  text-align: left;
  overflow-wrap: normal;
  white-space: wrap;

  -webkit-line-clamp: 2;
}
