.ellipsis {
  display: flex;
  align-items: center;
  justify-content: flex-start;

  width: fit-content;
  padding-inline: var(--spacing-md);

  font-size: 0.8em;
  color: var(--ion-color-primary-contrast);

  opacity: 0.8;
  background: var(--ion-color-primary);
  border-radius: 15px;
}

button:not(:only-child) {
  margin-bottom: 2px;
}

.marker {
  display: flex;
  flex-direction: column;
}
