/*!
 * Copyright (C) 2023 StApps
 * This program is free software: you can redistribute it and/or modify it
 * under the terms of the GNU General Public License as published by the Free
 * Software Foundation, version 3.
 *
 * This program is distributed in the hope that it will be useful, but WITHOUT
 * ANY WARRANTY; without even the implied warranty of MERCHANTABILITY or
 * FITNESS FOR A PARTICULAR PURPOSE. See the GNU General Public License for
 * more details.
 *
 * You should have received a copy of the GNU General Public License along with
 * this program. If not, see <https://www.gnu.org/licenses/>.
 */
@import '../../../../theme/util/mixins';

ion-text {
  margin-inline: var(--spacing-md);
  color: var(--ion-color-primary-contrast);
}

:host ::ng-deep {
  p,
  h3,
  h2,
  h1 {
    margin-inline: var(--spacing-md);
  }

  ion-grid,
  ion-col {
    padding-top: 0;
    padding-bottom: 0;
    padding-inline-start: 0;
  }

  ion-card {
    margin: 0;
    box-shadow: none;

    ion-card-content {
      padding-bottom: 8px;

      h1 {
        margin: 0;
      }
    }

    ion-card-header {
      padding-top: 8px;
      padding-bottom: 4px;
      font-weight: bold;
      color: var(--ion-color-dark);
    }

    ion-grid,
    ion-col {
      padding-top: 0;
      padding-bottom: 0;
      padding-inline-start: 0;
    }
  }

  .about-changelog,
  .licenses-content,
  .page-content {
    @include border-radius-in-parallax(var(--border-radius-default));

    display: flex;
    flex-direction: column;
    gap: var(--spacing-sm);

    margin: var(--spacing-md);
    padding-block-end: var(--spacing-md);

    background: var(--ion-item-background);

    & > * {
      @include border-radius-in-parallax(var(--border-radius-default));

      position: relative;
      overflow: hidden;
      display: block;
      margin: 0;

      ion-card-subtitle {
        font-size: var(--font-size-lg);
        color: var(--ion-color-light-contrast);
      }

      & > ion-thumbnail {
        background: var(--ion-color-primary);
      }
    }
  }
}
