<!--
~ Copyright (C) 2023 StApps
~ This program is free software: you can redistribute it and/or modify it
~ under the terms of the GNU General Public License as published by the Free
~ Software Foundation, version 3.
~
~ This program is distributed in the hope that it will be useful, but WITHOUT
~ ANY WARRANTY; without even the implied warranty of MERCHANTABILITY or
~ FITNESS FOR A PARTICULAR PURPOSE. See the GNU General Public License for
~ more details.
~
~ You should have received a copy of the GNU General Public License along with
~ this program. If not, see <https://www.gnu.org/licenses/>.
-->

<ion-header>
  <ion-toolbar color="primary" mode="ios">
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    @if (content) {
      <ion-title>{{ 'title' | translateSimple: content }}</ion-title>
    } @else {
      <ion-title><ion-skeleton-text animated="true"></ion-skeleton-text></ion-title>
    }
  </ion-toolbar>
</ion-header>
@if (content) {
  <ion-content parallax>
    <ion-text>{{ 'about.VERSION_INFO' | translate: {name, version, stappsVersion} }}</ion-text>
    <div class="page-content">
      @for (element of content.content; track element) {
        <about-page-content [content]="element"></about-page-content>
      }
    </div>
  </ion-content>
}
